* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

:root {
  --accent-color: #13c1fe;
  --background: #faf9f9;
  --primary-color: #fe5013;
  --primary-dark: #fc4201;
  --secondary-color: #fe8a61;
  --text-dark: #1a1a1a;
  --text-light: #4c4d4f;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-inline: 1rem;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
}

section {
  padding-block: 3rem;
}

header {
  padding-block: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.055);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header-items {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: none;
}

nav a {
  text-decoration: none;
  color: var(--text-dark);
  padding: 0.25rem 0.5rem;
}

nav a:hover {
  color: var(--primary-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo h1 {
  font-size: 1.25rem;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
  color: transparent;
  background-clip: text;
  margin-top: 0.25rem;
}

.cart {
  padding: 0.25rem 1rem 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: #efefef;
  height: auto;
}

.cart span {
  background-color: var(--primary-color);
  color: white;
  padding: 0.1rem 0.5rem;
  font-size: 0.5rem;
  border-radius: 0.5rem;
}

.flash-sale {
  background-color: var(--secondary-color);
  color: var(--text-dark);
  text-align: center;
  padding: 0.25rem 0.5rem;
}

/* Hero section  */
#hero {
  background-color: white;
}
.hero-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.hero-box img {
  max-width: 100%;
  width: auto;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.hero-content h1 {
  margin-top: 0.5rem;
  font-size: 2.5rem;
  line-height: 3rem;
}

.hero-content p {
  color: var(--text-light);
  padding-block: 1rem;
}

.hero-content .shop {
  background-color: var(--primary-color);
  border-radius: 1rem;
  border: none;
  color: white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-content .shop:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.hero-content .explore {
  background-color: var(--background);
  cursor: pointer;
  border-radius: 1.25rem;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 0.5rem 1.5rem;
  transition: all 0.3s ease;
  margin-inline: 0.5rem;
}

.hero-content .explore:hover {
  background-color: var(--primary-color);
  color: white;
}

.hero-content .badge {
  color: var(--accent-color);
  background-color: rgb(19, 193, 254, 0.1);
  font-size: 0.75rem;
  font-weight: 600;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  border-radius: 1rem;
}

/* Benefits styles */
#benefits h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.benefits-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.benefits-box .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.benefits-box .card p {
  color: var(--text-light);
  text-align: center;
  font-size: 0.75rem;
}

.benefits-box .card span {
  font-size: 2rem;
}

.cta {
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--primary-dark)
  );
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 1rem;
}

.cta p {
  text-align: center;
}

.cta button {
  background-color: white;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.cta button:hover {
  color: var(--primary-color);
}

/* featured styles */
#featured h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.featured-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.featured-box .card {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
}

.featured-box .card img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.featured-box .card .content {
  background-color: white;
  padding: 0.75rem 1rem 1rem;
}

.featured-box .card .content .price {
  margin-block: 0.25rem;
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--primary-color);
}

.featured-box .card .content button {
  background-color: var(--background);
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
  border-radius: 1rem;
  border: none;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.featured-box .card .content button:hover {
  color: var(--primary-color);
}

/* Bestseller style  */
#best-seller {
  background-color: white;
}

.best-seller-box {
  background-color: rgb(252, 66, 1, 0.05);
  padding: 2rem;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
}

.best-seller-box img {
  max-width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
}

.best-seller-box .content p {
  padding-block: 0.5rem;
  color: var(--text-light);
}

.best-seller-box .content h3 {
  color: var(--primary-color);
}

.best-seller-box .content button {
  background-color: var(--primary-color);
  border-radius: 1rem;
  border: none;
  color: white;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.best-seller-box .content button:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

/* Contact styles */
.contact-box {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.contact-box .info p {
  color: var(--text-light);
  font-size: 0.75rem;
  margin-block: 1rem;
}

.contact-box .info a {
  font-weight: normal;
  margin: 0.1rem;
  font-size: 0.9rem;
  text-decoration: none;
  display: block;
  color: var(--text-dark);
}

.contact-box .info a:hover {
  color: var(--primary-color);
}

.contact-box form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 500px;
}

.contact-box form input,
.contact-box form textarea {
  width: 100%;
  background-color: white;
  border: 1px solid rgb(252, 66, 1, 0.2);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.contact-box form button {
  background-color: var(--primary-color);
  border-radius: 1rem;
  border: none;
  color: white;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  max-width: fit-content;
  margin-top: 0.5rem;
}

.contact-box form button:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.contact-box form input:focus,
.contact-box form textarea:focus {
  outline: 2px solid var(--primary-color);
}

#signupForm {
  width: 100%;
  background-color: transparent;
  border: none;
}

.signup-form {
  align-items: center;
  background-color: var(--background);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  height: max-content;
  justify-content: center;
  left: 0;
  padding: 2rem 3rem;
  position: fixed;
  top: 45%;
  width: 100%;
}

.signup-form form {
  margin-top: 1.5rem;
}

.signup-form input {
  width: 100%;
  background-color: white;
  border: 1px solid rgb(252, 66, 1, 0.2);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.signup-form form button {
  width: 100%;
  background-color: var(--primary-color);
  border: 1px solid rgb(252, 66, 1, 0.2);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  margin-top: 1rem;
}

.signup-form form button:hover {
  background-color: var(--primary-dark);
  color: white;
}

.signup-form .close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--background);
}

@media (min-width: 512px) {
  .benefits-box {
    grid-template-columns: 1fr 1fr;
  }

  .featured-box {
    grid-template-columns: 1fr 1fr;
  }

  .best-seller-box {
    grid-template-columns: 1fr 1fr;
  }

  .signup-form {
    left: 25%;
    width: 50%;
  }
}

@media (min-width: 768px) {
  nav {
    display: flex;
    gap: 0.5rem;
  }

  .hero-box {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .hero-content h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .benefits-box {
    grid-template-columns: repeat(4, 1fr);
  }

  .featured-box {
    grid-template-columns: repeat(3, 1fr);
  }

  .best-seller-box {
    padding-inline: 3rem;
    gap: 2rem;
  }

  .contact-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .hero-box {
    gap: 4rem;
  }

  .hero-content h1 {
    font-size: 3.5rem;
  }

  .featured-box {
    grid-template-columns: repeat(4, 1fr);
  }

  .signup-form {
    left: 35%;
    width: 30%;
  }
}

[popover] {
  position-area: bottom;
  margin: initial;
}

.cart-items {
  border: none;
  background-color: var(--background);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 0.5rem;
}

.cart-items ul {
  list-style: none;
}
